
<div class="players">
    <div class="player">
        <img src="~/img/VizObscure.png" height="42" width="42" alt="Summoner">
        <p>Player 1</p>
    </div>
    <div class="player">
        <img src="~/img/VizObscure.png" height="42" width="42" alt="Summoner">
        <p>Player 2</p>
    </div>
    <div class="player">
        <img src="~/img/VizObscure.png" height="42" width="42" alt="Summoner">
        <p>Player 3</p>
    </div>
    <div class="player">
        <img src="~/img/VizObscure.png" height="42" width="42" alt="Summoner">
        <p>Player 4</p>
    </div>
    <div class="player">
        <img src="~/img/VizObscure.png" height="42" width="42" alt="Summoner">
        <p>Player 5</p>
    </div>
</div>
<div class="bans">
    <h4>Blue team bans</h4>
    <ul>
        <li><img class="firstbban" src="~/img/VizObscure.png" height="42" width="42" alt="Summoner"></li>
        <li><img src="~/img/VizObscure.png" height="42" width="42" alt="Summoner"></li>
        <li><img src="~/img/VizObscure.png" height="42" width="42" alt="Summoner"></li>
    </ul>
</div>