@{
    ViewBag.Title = "About";
    ViewBag.Message = "Champion Select";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This project is made to simulate process of banning and picking champions in League of Legends draft. </p>
