
@{
    Layout = "~/Views/Shared/_ChampionSelectLayout.cshtml";
    ViewBag.Title = "ChampionSelect";
}


<div class="championselect">

    @* Override of bootstrap jumbotron style for this page *@
    <div class="jumbotron" style="background-color:rgba(0,0,0,0);">
        <div class="container">
            <div class="row">

                @* Blue side champions *@
                <div class="col-md-3">
                    <div class="team">
                        <h3>Blue team</h3>
                        @{ Html.RenderPartial("_Team"); }
                    </div>
                </div>

                @* Center panel *@
                <div class="col-md-6">
                    <div class="middle">
                        <div class="board">
                            <h2>Board</h2>
                        </div>
                        <div class="champions">
                            <h2>Champions</h2>

                            <div class="menu-container">
                                <div class="button-container">
                                    <ul class="champion-list"></ul>
                                </div>
                            </div>
                        </div>
                        <div class="selector">
                            <h2>Selector</h2>
                            <label for='search_field'>Enter terms to search:</label><br />
                            <input id='search_field' name='search_field' type='text' />
                        </div>
                    </div>
                </div>

                @* Red side champions *@
                <div class="col-md-3">
                    <div class="team">
                        <h3>Red team</h3>
                        @{ Html.RenderPartial("_Team"); }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
