
@{
    Layout = "~/Views/Shared/_ChampionSelectLayout.cshtml";
    ViewBag.Title = "ChampionSelect";
}


<div class="championselect">


    <div class="container">
        @* Blue side champions *@
        <div class="col-md-3">

            @{ Html.RenderPartial("_Team", new TeamViewModel("blue")); }

        </div>


        @* Center panel *@
        <div class="col-md-6">
            <div class="middle">
                <div id="board" class="row">
                    <div class="col-md-12">
                        <h3 id="board-text">Champions</h3>
                    </div>
                </div>

                <div>
                    @* Champion Search / Filter *@
                    
                    <div id="selector">
                        <button id="reset_button" onclick="resetPicksBans()" type="button" class="btn btn-default btn-sm">Reset</button>
                        <label id="search_label" class="btn btn-default btn-sm" for='search_field'>Search:</label>
                        <input id='search_field' class="btn btn-default btn-sm" name='search_field' type='text' />
                    </div>
                </div>

                

                @* Champion Grid *@
                @{ Html.RenderPartial("_Champions");}
                
            </div>
        </div>

        @* Red side champions *@
        <div class="col-md-3">

            @{ Html.RenderPartial("_Team", new TeamViewModel("red")); }

        </div>
    </div>
</div>