@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "If you have any suggestions, please, feel free to contact me with one of the following methods.";
}

<div class="black70roundedborder">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        <strong>Email:</strong>   <a href="mailto:iva.krypton@gmail.com">Mail</a><br />
        <strong>Reddit:</strong>  <a target="_blank" href="http://reddit.com/r/championselect/"> /r/championselect </a><br />
        <strong>GitHub:</strong>  <a target="_blank" href="http://github.com/AMiakushko/">AMiakushko</a><br />
    </address>

</div>

