@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "If you have any suggestions, please, feel free to contact me with one of the following methods.";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Email:</strong>   <a href="mailto:aleksey.miakushko@gmail.com">Aleksey.Miakushko@gmail.com</a><br />
</address>