@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Champion Select</h1>
    <p class="lead">You lose and win games in champion select. Practice makes excelence.</p>
    <p>@Html.ActionLink("Get started", "ChampionSelect", "Home", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="black70roundedborder">
            <h2>Help</h2>
            <p>
                Because this site is made by best spagetti standards, you can go to the Help page if you ever find yourself wondering what is up.
            </p>
            <p class="text-right">@Html.ActionLink("Help", "Help", "Home", null, new { @class = "btn btn-default" })</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="black70roundedborder">
            <h2>Contact</h2>
            <p>If you wanna personaly say how good this spagetti is, or you are great cheif yourself you can contact me on Contact page.</p>
            <p class="text-right">@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "btn btn-default" })</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="black70roundedborder">
            <h2>Subreddit</h2>
            <p>If you are used to reddit, you are welcomed on subreddit dedicated to everything about this project including current todo list etc.</p>
            <p class="text-right"><a class="btn btn-default" target="_blank" href="http://reddit.com/r/championselect/">Reddit</a></p>
        </div>
    </div>
</div>